<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %> | Sweet Scoops</title>
</head>
<script>
	if ('<%= alert %>') {
		alert('<%= alert %>')
	}
	window.location.href = '<%= redirect %>'
</script>
</html>
