
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Product Details | Sweet Scoops</title>
	<link rel="stylesheet" href="../Static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baby+Kruffy&display=swap">
</head>
<body>
	<!-- Header, navigation, etc. -->

	<div class="product-details">
		<h2 id="product-name"><%= item.name %></h2>
		<img src="/Images/<%= item.src %>" alt="<%= item.name %>" id="product-image">
		<p id="product-description"><%= item.desc %></p>
	</div>

</body>
</html>
