<!DOCTYPE html>
<html lang="en">
<head>
	<title>Books | <%= book.Name %></title>
</head>
<body>
	<h1>Book Details</h1>
	<p><b>Title:</b> <%= book.Name %></p>
	<p><b>Author:</b> <%= book.Author %></p>
</body>
</html>